<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EventManagementSystem.Properties.Settings.SakiEventManagementDBConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SakiEventManagementDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EventManagementSystem.Properties.Settings.sakiDatabaseConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\sakiDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>